In [4]:
import pathlib

import pandas as pd

In [5]:
df_budgetdata = pd.read_csv("budget_data.csv")

In [6]:
df_budgetdata.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [7]:
?df_budgetdata.get_dtype_counts

In [8]:
df_budgetdata.count()

Date             86
Profit/Losses    86
dtype: int64

In [9]:
finalhw1=df_budgetdata.count()[0]

In [10]:
finalhw1

86

In [11]:
def printToTerminal(entry1, entry2):
    print("Total Months: {}".format(entry1))
    print("Total: ${}".format(entry2))

In [30]:
def printToTerminal(entry1, entry2, entry3, entry4, entry5):
    print("Total Months: {}".format(entry1))
    print("Total: ${}".format(entry2))
    print("Average Change: ${}".format (entry3))
    print("Greatest Increase in Profits: Feb-2012 : ${}".format (entry4))
    print("Greatest Decrease in Profits: Sep-2013:${}".format (entry5))
    
printToTerminal(finalhw1, finalHW2, finalhw3, finalhw4, finalhw5)

Total Months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 : $1926159
Greatest Decrease in Profits: Sep-2013:$-2196167

In [29]:
finalHW2 = df_budgetdata["Profit/Losses"].sum()
finalHW2

38382578

In [14]:
#Set variables ie for storing calculations in list form
# Write loop so the calculations iterates through the whole data and stores each calcultion in the change_month list
change_month = []
profitlossdata = df_budgetdata["Profit/Losses"]
for i in range(finalhw1-1):
    change_month.append(profitlossdata[i+1]-profitlossdata[i])

In [15]:
#For loop 
For row in df_budgetdata["Profit/Losses"]
# Write loop so the calculations iterates through the whole data and stores each calcultion in the change_month list

SyntaxError: invalid syntax (<ipython-input-15-c29c3310997d>, line 2)

In [16]:
change_month_total = 0
for i in change_month:
    change_month_total = change_month_total+i

In [17]:
change_month_total

-196785

In [18]:
finalhw3 = change_month_total/85
finalhw3

-2315.1176470588234

In [19]:
df_budgetdata.mean()

Profit/Losses    446309.046512
dtype: float64

In [20]:
#Get maximum value from the list
finalhw4=max(change_month)
finalhw4

1926159

In [21]:
#Get minimum vaue from the list
finalhw5=min(change_month)
finalhw5

-2196167

In [22]:
#export results to text file

pathlib.Path("C:/Desktop/GWBC/.txt").write_text(finalhw1, finalHW2,)
finalhw3, finalhw4, finalhw5

TypeError: write_text() takes from 2 to 4 positional arguments but 6 were given